<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.poli.com/ads/imperativa1/Imperativa1"
			class = "com.poli.ads.imperativa1.imperativa1.Imperativa1Package"
			genModel = "model/generated/Imperativa1.genmodel" />
	</extension>
</plugin>
