<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.poli.com/ads/funcional3/Funcional3"
			class = "com.poli.ads.funcional3.funcional3.Funcional3Package"
			genModel = "model/generated/Funcional3.genmodel" />
	</extension>
</plugin>
